<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
   {{>navbar}}
<!-- main header -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="images/lion.jpg" alt="krishna" class="img-fluid" title="krishna bhandari"/>
                    </figure>
                  </div>
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <p>Welcome to Weather app</p>
                    <h1>I want to be a MERN STACK DEVELOPER, cyber security researcher and share holder. <span class="text-clr"> Weather </span> Info Of your City</h1>
                    <a href="https://www.myfuturewebsite.com" target="_blank"><button>About me</button></a>
                </div>
                <!-- right side div -->
                
               </div>
            </div>
         </div>
    </div>
    {{>footer}}
</body>
</html>                             